.login-container {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color: #131324;
    gap: 2rem;

    .form-container {
        display: flex;
        flex-direction: column;
        width: 450px;
        gap: 1rem;
        background: #00000076;
        border-radius: 0.5rem;
        padding: 2rem 3rem;
        box-shadow: 0 0 10px rgba(0, 0, 0, 0.3);
        margin-bottom: 10rem;

        .heading {
            text-transform: uppercase;

            h3 {
                letter-spacing: 1.5px;
                font-size: 1.8rem;
                font-weight: 500;
                color: #fff;
                padding: 0 3rem;
                text-align: center;
            }
        }

        input {
            background-color: transparent;
            font-size: 1rem;
            padding: 0.8rem;
            color: #fff;
            border: solid 1.5px #7838b4;
            border-radius: 0.3rem;
            outline: none;
            transition: all 0.3s ease;

            &:autofill {
                -webkit-text-fill-color: #fff;
                box-shadow: 0 0 0px 1000px #131324 inset;
                transition: background-color 5000s ease-in-out 0s;
            }

            &:focus {
                background: #131324;
            }

            &:hover {
                background: #131324;
            }

        }

        button {
            padding: 0.6rem;
            border-radius: 0.3rem;
            cursor: pointer;
            font-size: 1.2rem;
            border: solid 1.5px #7838b4;
            outline: none;
            background: #7838b4;
            color: #fff;
            letter-spacing: 1px;
            transition: all 0.5s ease;
            font-weight: 400;

            &:hover {
                background: #7838b4;
            }
        }

        span {
            margin: auto;
            color: #8c8c8c;
            font-weight: 300;
            font-size: 16px;

            .link {
                color: #9737ff;
                text-decoration: none;
                margin-left: 0.5rem;
            }
        }
    }

}


@media only screen and (max-width : 500px) {
    .register-container {
        .form-container {
            width: 300px;
        }
    }
}